--- 
interface Props {
    title: string;
}
import "../styles/global.css";

import CVHeader from '../components/CVHeader.astro';
import CVPosition from '../components/CVPosition.astro';
import CVEducation from '../components/CVEducation.astro';
import CVCourses from '../components/CVCourses.astro';

import cvdata from '../assetts/cv.json';

// let citations = await processArray(my_publications);
// let citations2 = await processArray(other_publications);
import citations from '../assetts/my_citations.json'
import citations2 from '../assetts/other_citations.json'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="The CV (curriculum vitae) of Jahan C. Penny-Dimri">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/caicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Curriculum Vitae</title>
	</head>
	<body>
	    <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6 print:hidden font-mono">
		<div class="flex flex-shrink-0 text-white mr-6 w-full sm:w-1/2 sm:justify-end sm:pr-9">
		    <a href="/" class="font-semibold text-xl tracking-tight">j c p d . x y z </a>
		</div>
		<div class="w-full block sm:flex-grow sm:flex sm:justify-start sm:w-auto">
		    <div class="text-sm">
			<a href="/cv.html" class="block mt-4 sm:w-auto sm:inline-block sm:mt-0 text-teal-200 hover:text-white mr-4">
			    C.V.
			</a>
			<a href="/cover.html" class="block mt-4 sm:w-auto sm:inline-block sm:mt-0 text-teal-200 hover:text-white mr-4">
			    Cover Letter
			</a>
		    </div>
		</div>
	    </nav>

	    <div class="font-serif p-5 max-w-5xl">
		<CVHeader
			  name={cvdata.header.name}
			  date={cvdata.header.date}
			  address={cvdata.header.address}
			  website={cvdata.header.website}
			  email={cvdata.header.email}
			  github={cvdata.header.github}
		/>
		
		<div class="p-3">
		    <h1 class="font-bold text-xl pb-2">Mission Statement</h1>
		    { cvdata.mission }
		</div>
		<div class="p-3">
		    <h1 class="font-bold text-xl pb-2">Employment and Academic Positions</h1>
		    {Object.keys(cvdata.positions).map(key => {
		    return <CVPosition
			       title={key}
			       organisation={cvdata.positions[key]["organisation"]}
			       start={cvdata.positions[key]["from"]}
			       end={cvdata.positions[key]["to"]}
			       description={cvdata.positions[key]["description"]}/>
		    })}

		</div>

		<div class="p-3">
		    <h1 class="font-bold text-xl pb-3">Education</h1>
		    {Object.keys(cvdata.education).map(key => {
		    return <CVEducation
			       title={key}
			       organisation={cvdata.education[key]["organisation"]}
			       year={cvdata.education[key]["year"]}
			       description={cvdata.education[key]["description"]}/>
		    })}
		</div>

		<div class="p-3">
		    <h1 class="font-bold text-xl pb-3">Courses and Professional Development</h1>
		    {Object.keys(cvdata.professional_development).map(key => {
		    return <CVCourses
			       title={key}
			       organisation={cvdata.professional_development[key]["organisation"]}
			       year={cvdata.professional_development[key]["year"]}/>
		    })}
		</div>

		<div class="p-4">
		    <h1 class="font-bold text-xl pb-3">Research Summary</h1>
		    <div class="flex flex-row pb-3">
			    <div class="w-72 italic"> Areas of Interest </div>
			    <div class="w-full"> {cvdata.research_summary["Areas of Interest"]} </div>
		    </div>
		    <div class="flex flex-row pb-3">
			    <div class="w-72 italic"> H-index </div>
			    <div class="w-full"> {cvdata.research_summary["H-index"]} </div>
		    </div>
		</div>

		<slot/>
	
	<div class="p-4">
	    <h1 class="font-bold text-xl pb-3">Publications</h1>
	    <h2 class="pl-4 font-bold">First author:</h1>
		<div class="flex flex-wrap justify-center p-4">
		    {citations.map(c => {
				return <div class="pb-3 w-full"> <p>{c.replace("amp;", "")}</p> </div>
		    })}
		</div>
		
		<h2 class="pl-4 font-bold">Other author:</h1>
		    <div class="flex flex-wrap justify-center p-4">
			{citations2.map(c => {
			return <div class="pb-3 w-full"> <p>{c}</p> </div>
			})}
		    </div>
	</div>
    </div>

	</body>
</html>
