---
const { title, organisation, start, end, description } = Astro.props;
---

<div class="flex flex-row pb-3">
	<div class="w-72 italic"> {start} - {end} </div>
	<div class="w-72"> 
		<div> {title} </div>
		<div class="font-bold"> {organisation} </div>
	</div>
	<div class="w-full"> {description} </div>
</div>
